/* Universal */
html {
  font-family: 'Roboto', 'Open Sans' sans-serif;;
  font-size: 16px;
}
body {
  color: #383e44;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.2rem;
}

cite {
  font-style: italic;
}

.container {
  padding: 2rem 0 2rem 1.5rem;
}

/*colors: #383e44 (darkgray)
        : #7286a5 (contrast text)
        : #d0dbed (light contrast)

/*Formatting divided into Lefthand (.lh) and Righthand (.rh)*/
.lh {
  width: 60%;
  overflow: hidden;
  padding-right: 1.5rem;
}

.lh img {
  width: 100%;
  height: auto;
  display: block;
  padding: 0;
}

.rh {
  width: 40%;
}


/* RH with multiple chunks of info*/
 .link {
  display: flex;
}

.link .img-container {
  width: 35%;
  overflow: hidden;
  padding: 1rem;
}

.link .desktop-img {
  width: 100%;
  height: auto;
  display: block;
}

.link .text-container {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


/* Header*/
header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 4rem;
  background-color: white;
  font-weight: bold;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 1.5rem;
}

.logo img {
  height: 3rem;
  width: auto;
  margin-right: 0.75rem;
}

.logo h2 {
  font-size: 2rem;
}

.logo h2 span {
  color: #7286a5;
}

header nav {
  padding-right: 1.5rem;
}

header span {
  display: inline-block;
}

header a:hover {
  color: #7286a5;
  font-weight: bold;
}

header nav a {
  color: black;
  font-weight: normal;
  padding: 1.5rem;
}

/*Header media queries*/
/* Desktop*/
@media only screen and (min-width: 880px) {
  .mobile {
    display: none;
  }
}
/*Mobile*/
@media only screen and (max-width: 880px) {
  nav {
    display: none;
  }

  header h2 {
    display: none;
  }

  .logo {
    justify-content: space-around;
  }

  header img:hover {
    height: 4rem;
  }
}

/* Banner */
#banner {
  background-color: #d0dbed;
}

#banner .container {
  display: flex;
}

.btn {
  background-color: #383e44;
  color: white;
  padding: .8rem;
  text-align: center;
}

.btn:hover {
  background-color: white;
  color: #383e44;
  font-weight: bold;
}

#banner .rh {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*Banner media queries*/
/*Desktop*/
@media only screen and (min-width: 880px) {
  #banner h1,
  #banner h3,
  #banner a {
            margin: 2rem 6rem 0 1rem;
            }

  #banner h1 {
    margin-top: 0;
  }
}

/* Mobile*/
@media only screen and (max-width: 880px) {
  #banner .container {
    flex-direction: column;
    padding: 0;
  }

  #banner .lh {
    width: 100%;
    padding-right: 0;
  }

  #banner img {
    width: 100%;
  }

  #banner .rh {
    width: 100%;
  }

  #banner h1 {
    margin: 2rem 1rem;
  }

  #banner h3 {
    margin: 0 1rem;
  }

  #banner a {
    margin: 1rem;
  }
}


/* Info */
#info .container {
 display: flex;
}

#info img {
  width: 100%;
}

#info .link {
  border-left: 0.1rem solid #d0dbed;
  border-bottom: 0.1rem solid #d0dbed;
}

#info a {
  color: #7286a5;
}

#info a:hover {
  color: #383e44;
  font-weight: bold;
}

.guest {
  background-color: #d0dbed;
}

/*Info media queries*/
/* Desktop*/
@media only screen and (min-width: 880px) {
  .mobile-img {
    display: none;
  }
  .orientation .img-container {
     padding-top: 0;
   }

   #info h1 {
   padding: 1.5rem 1rem;
   }
   #info blockquote {
     padding: 0 1rem 1rem 1rem;
   }
   #info cite {
     padding: 2rem 1rem;
    }

    #info span {
      padding: 0.5rem 0;
    }
}

/* Mobile*/
@media only screen and (max-width: 880px) {
   #info .container {
     padding: 1.5rem;
   }

   #info .lh {
      display: none;
    }

   #info .rh {
     width: 100%;
   }

   #info .link {
     flex-direction: column;
     border: none;
   }

   #info .guest {
     background-color: white;
   }

   #info .img-container {
     width: 100%;
     padding: 0;
   }

   #info img {
     width: 100%;
   }

    #info .desktop-img {
      display: none;
    }

   #info .text-container {
     padding: 0.5rem 1rem 2rem 1rem;
   }

   #info span {
     padding: .5rem 0;
   }
}

/*Start*/
#start h4 {
  color: #7286a5;
}
/* Desktop*/
@media only screen and (min-width: 880px) {
#start {
  background-color: #d0dbed;
  padding-bottom: 1rem;
}

#start h1 {
  text-align: center;
    padding: 2rem 0 0.5rem 0;
}

#start .courses {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  max-width: 64rem;
}

#start .course {
  width: 16.25rem;
  height: 16.25rem;
  background-color: white;
  margin: 1rem;
}

#start .course:hover  {
  width: 18.25rem;
  height: 18.25rem;
  margin: 0;
}

#start .course img {
  width: 100%;
  height: auto;
}

#start .text-container {
  padding: 1rem;
  }
}

/* Mobile*/
@media only screen and (max-width: 880px) {
  #start .course img, #start h4, #start span {
    display: none;
  }

  #start h1 {
    text-align: center;
  }

  #start .course {
    margin: 1.25rem;
    background-color: #d0dbed;
  }

  #start .course h3:hover {
    font-weight: bold;
  }

  #start h1 {
    padding: 2rem 0 0 0;
  }

  #start h3 {
    padding: 1.5rem 0 1.5rem 1rem;
  }
}


/*Thesis*/
#thesis h1 {
  text-align: center;
  padding: 2rem 0 0.5rem 0;
}

#thesis .container {
  display: flex;
}

#thesis .lh video {
  width: 100%;
  height: auto;
  display: block;
  padding: 0;
}

.fisma .img-container {
   padding-top: 0;
 }

 /*Thesis media queries*/
/*Desktop*/
@media only screen and (min-width: 880px) {
  #thesis .lh {
    border-right: 0.1rem solid #d0dbed;
  }
}


 /*Thesis media queries*/
/*Mobile*/
@media only screen and (max-width: 880px) {
  #thesis .lh h2, #thesis .lh p, #thesis .rh {
    display: none;
  }

  #thesis .container {
    padding: 0;
  }

  #thesis .lh {
    padding-right: 0;
    width: 100%;
  }

  #thesis blockquote {
    padding: 1.5rem 1rem;
  }
}

/* Footer */
footer {
  padding: 1.5rem 1rem;
}

footer span {
  float: right;
}

footer a {
  color: #383e44;
}

footer a:hover {
  color: #7286a5;
  font-weight: bold;
}

/*Footer media queries*/
@media only screen and (max-width: 880px) {
  footer span {
    display: none;
  }
}
